# Core functionality - changes here should be rare!
/src/app.py                   @franckronchetti
/src/backend/database.py      @franckronchetti
/src/backend/routers/auth.py  @franckronchetti

# The frontend will need refactored soon to be more object oriented.
/src/static/   @franckronchetti
